.titulo{
    text-align: center;
    font-family: Century Gothic;
}

.prop{
    text-align: center;
    background: #8088ff;
    border: 1rem;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
}