<div class="titulo">
  <h1>PRODUCTO</h1>
</div>
<table class="prop" cellpadding="10">
  <thead>
      <td>Nombre</td>
      <td>Marca</td>
      <td>Presentacion</td>
      <td>Contenido</td>
      <td>Costo</td>
      <td>Proveedor</td>
      <td>Cantidad</td>
      <td>Status</td>
      <td>Descripcion</td>
  </thead>
  <tbody>
      <tr *ngFor="let item of datosProd; let i=index">
          <td>{{item.nombreProducto}}</td>
          <td>{{item.marcaProducto}}</td>
          <td>{{item.presentacionProducto}}</td>
          <td>{{item.contenidoProducto}}</td>
          <td>{{item.costoProducto}}</td>
          <td>{{item.proveedorProducto}}</td>
          <td>{{item.cantidadIngresa}}</td>
          <td>{{item.statusProducto}}</td>
          <td>{{item.descripcionProducto}}</td>
      </tr>
      <br>
      <br>
  </tbody>
</table>

<div class="titulo">
  <h1>PERSONAL</h1>
</div>
<table class="prop" cellpadding="10">
  <thead>
      <td>Nombre</td>
      <td>Apellido</td>
      <td>Telefono</td>
      <td>Sueldo</td>
      <td>Direccion</td>
  </thead>
  <tbody>
      <tr *ngFor="let item of datosEmpl; let i=index">
          <td>{{item.nombreEmpleado}}</td>
          <td>{{item.apellidoEmpleado}}</td>
          <td>{{item.telefonoEmpleado}}</td>
          <td>{{item.sueldoEmpleado}}</td>
          <td>{{item.direccionEmpleado}}</td>
      </tr>
      <br>
      <br>
  </tbody>
</table>

<div class="titulo">
  <h1>PROVEEDORES</h1>
</div>
<table class="prop" cellpadding="10">
  <thead>
      <td>Nombre</td>
      <td>Telefono</td>
      <td>Correo</td>
      <td>Tipo</td>
      <td>Status</td>
  </thead>
  <tbody>
      <tr *ngFor="let item of datosProv; let i=index">
          <td>{{item.nombreProovedor}}</td>
          <td>{{item.telefonoProveedor}}</td>
          <td>{{item.correoProveedor}}</td>
          <td>{{item.tipoProductoProveedor}}</td>
          <td>{{item.statusProveedor}}</td>
      </tr>
      <br>
      <br>
  </tbody>
</table>

<div class="titulo">
  <h1>SUCURSAL</h1>
</div>
<table class="prop" cellpadding="10">
  <thead>
      <td>Nombre</td>
      <td>Telefono</td>
      <td>Direccion</td>
      <td>Correo</td>
      <td>Gerente</td>
  </thead>
  <tbody>
      <tr *ngFor="let item of datosSucur; let i=index">
          <td>{{item.nombreSucursal}}</td>
          <td>{{item.telefonoSucursal}}</td>
          <td>{{item.direccionSucursal}}</td>
          <td>{{item.correoSucursal}}</td>
          <td>{{item. gerenteSucursal}}</td>
      </tr>
      <br>
      <br>
  </tbody>
</table>